
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<h1>Anasayfa</h1>
@await Component.InvokeAsync("Slider")
@await Component.InvokeAsync("PopularDestinations")
@await Component.InvokeAsync("Statics")
@await Component.InvokeAsync("Feature")
@await Component.InvokeAsync("SubAbout")
@await Component.InvokeAsync("Testimonial")

 
  
