
<!doctype html>
<html lang="zxx">
    @await Html.PartialAsync("/Views/LayoutPartial/Header.cshtml")

<body>
 
    @await Html.PartialAsync("/Views/LayoutPartial/Navbar.cshtml")
    @RenderBody()
    @await Html.PartialAsync("/Views/LayoutPartial/Footer.cshtml")
    @await Html.PartialAsync("/Views/LayoutPartial/Script.cshtml")
</body>

</html>
