
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="tr">
  
@await Html.PartialAsync("/Views/MemberLayoutPartial/_Header.cshtml")

<body class="g-sidenav-show  bg-gray-100">
@await Html.PartialAsync("/Views/MemberLayoutPartial/_Navbar.cshtml")
  <main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">
    <!-- Navbar -->
  @await Html.PartialAsync("/Views/MemberLayoutPartial/Navbar2.cshtml")
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      @RenderBody()
    @await Html.PartialAsync("/Views/MemberLayoutPartial/Footer.cshtml")
    </div>
  </main>
 @await Html.PartialAsync("/Views/MemberLayoutPartial/RightBar.cshtml")
  <!--   Core JS Files   -->
 @await Html.PartialAsync("/Views/MemberLayoutPartial/Script.cshtml")
</body>
</html>
